.pagination {
    text-align: center !important;
    display: inline-block;
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    border-radius: 0;
}

.pagination li {
    padding-left: 0;
}

.pagination>.page-item {
    display: inline-block;
}

.pagination>.page-item>.page-link {
    display: inline-block;
    color: inherit;
    border: 0;
    font-size: 1.5em;
}

.pagination>.active>.page-link,
.pagination>.active>.page-link:hover {
    color: #ffffff;
    background-color: #333333;
}