html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    min-height: 100%;
}

.black-link,
.black-link:hover {
    text-decoration: none;
    color: #000000;
}

.masonry-grid-sizer,
.masonry-item {
    width: 32%;
}

.masonry-item {
    margin: 0.5%;
}

.masonry-item a,
.masonry-item a>div,
.masonry-item a>div>img {
    width: 100%;
}

.container {
    max-width: 1500px;
    min-height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


/* add sorting icons to gridview sort links */

a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/
    "\e151";
}

a.desc:after {
    content: /*"\e114"*/
    "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/* align the logout "link" (button in form) of the navbar */

.nav li>form>button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}

.custom-control-label::before,
.custom-control-label::after {
    top: .5rem;
    width: 2rem;
    height: 2rem;
}

.painting-group {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.painting-group img {
    transition-duration: 0.4s;
}

.painting-group .painting-overlay {
    width: 90%;
    height: 90%;
    position: absolute;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    top: 5%;
    left: -100%;
    transition-duration: 0.4s;
    -webkit-transition: left 0.5s ease-in-out;
}

.painting-group .painting-overlay h3 {
    margin: 0 0 12px 0;
}

.painting-group:hover .painting-overlay {
    /*opacity:1;*/
    -webkit-transition: left 0.5s ease-in-out;
    left: 5%;
}

.painting-group:hover img {
    transform: scale(1.1);
}